process.executor = 'awsbatch'
process.queue = 'nextflow-ready'
//process.container = 'ubuntu:16.04'
aws.region = 'us-west-2'
process.container = 'job-definition://nextflow-test-dtenenba:2'
// NOTE: the following line only if the `aws` tool is installed in a custom AMI
executor.awscli = '/home/ec2-user/miniconda/bin/aws'